* {
    box-sizing: border-box;
    margin: 0;
  }

h1 {
  color: rgb(46, 70, 2);
  text-shadow: 3px 3px 3px greenyellow;
  padding: 10%;
 
}

header h1 {
  font-size: 18px;
}
body {
  background-color: whitesmoke ;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}
  
  /* Create two equal columns that floats next to each other */
.columna {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    float: left;
    width: 20%;
    background-color: rgb(7, 141, 34);
    border-right: 2px solid darkcyan;
    min-height: 100vh;
    z-index: 100;
    box-shadow: 4px 0px 25px 1px rgba(7, 63, 0, 0.514) ;
  }
  .columnb {
    float: left;
    width: 80%;
    min-height: 100vh;
    margin: auto;
    padding: 10px 10%;
    z-index: 2;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .columna, .columnb {
      width: 100%;
      min-height: 30px;
    }
  }

nav {
    line-height: 1.8em;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 90px;
    z-index: 12;
    position: sticky;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
}


nav ul  {
  text-decoration: none;
  margin: 0px;
  padding-left: 10%;
}
nav ul li {
  display: block;
  text-decoration: none;
  list-style: none;
  border-radius: 2px 0px 0 2px;
}

nav ul a:hover, nav ul li:hover, nav ul li:active {
  background-color: greenyellow;
  border-radius: 5px 2px 0 2px;

}

nav li {
  text-decoration: none;
  list-style: none;
  /* margin-right: 50%; */

}

nav a {
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 5px 15px;
}

nav a:hover {
  color: black;
}

/* dropdown */
.dropdown {
  position: relative;
}
.content {
  display: none;
  position: absolute;
  background-color: aquamarine;
  padding-left: 40px;
  top: 40px;
}

.dropdown:hover .content {
  display: block;
}

.active {
  background-color: aquamarine;
  color: rgb(197, 226, 65);
  border-radius: 5px 0px 50x 5px;
  text-shadow: 2px 1px 1px 1px yellowgreen;
}

  /* Form in Login */

label {
    text-align: left;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}
form {
    text-align: center;
    border: 1px solid rgb(42, 134, 81);
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    width: 50%;
    min-width: 300px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.486);
    background-color: rgb(143, 132, 68);
}

form a {
  color: rgb(64, 94, 71);
  background-color: rgb(5, 48, 85);
  text-decoration: none;
  margin: 0;
  padding: 5px 10px;
  border-radius: 2px;
}

input {
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

input[type=text], [type=password], [type=date] {
    width: 70%;
    background-color: gainsboro;
    padding: 10px 20px;
    margin: 10px auto;
    border: none;
    box-shadow: inset 5px 5px 5px 0 rgb(59, 63, 59);
    font-size: 15px;
    text-rendering: auto;
    text-shadow: 5px 5px 2px rgba(167, 167, 167, 0.575);
}

input[type="file"] {
    display: block;
    background-color: gainsboro;
    color: rgb(27, 53, 25);
    border: none;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 10px 7px 0 rgb(155, 151, 165);
}

input[type="submit"] {
  display: block;
  background-color: gainsboro;
  color: rgb(27, 53, 25);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  text-transform: uppercase;
  margin: 30px auto 30px auto;
  box-shadow: 3px 10px 7px 0 rgb(155, 151, 165);
}

input[type="color"] {
    margin: 10px;
    padding: 0px;
}

/* footer */

footer {
  padding-left: 10%;
  margin-bottom: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer a {
  color: rgb(64, 94, 71);
  text-decoration: none;
  margin: 10px 1px;
  padding: 1px 10px;
  background-color: aquamarine;
  border-radius: 10px; 
}
footer a:hover {
  background-color: yellowgreen;
  color: black;
}


/* column b */

.columnb img {
  display: inline-block;
  max-height: 80vh;
  width: auto;
  max-width: 90%;
  margin: 10% auto 10px;
  padding: 0;
  box-shadow: 5px 5px 9px 2px rgba(0, 0, 0, 0.445);
}

.columnb p {
  padding-left: 20px;
}